<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/5b63a534-e18c-447d-a456-5535b876fcad/resourceGroups/WEB524/providers/Microsoft.Web/sites/psthakkar1-wa-web524-a6</ResourceId>
    <ResourceGroup>WEB524</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://psthakkar1-wa-web524-a6.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>psthakkar1-wa-web524-a6.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>psthakkar1-wa-web524-a6</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>False</EnableMsDeployAppOffline>
    <UserName>$psthakkar1-wa-web524-a6</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DataContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:psthakkar1-ds-web524.database.windows.net,1433;Initial Catalog=psthakkar1-db-web524-a6;Persist Security Info=False;User ID=psthakkar1;Password=Parita@2002;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:psthakkar1-ds-web524.database.windows.net,1433;Initial Catalog=psthakkar1-db-web524-a6;Persist Security Info=False;User ID=psthakkar1;Password=Parita@2002;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="PST2231A5.Models.ApplicationDbContext, Web app project template v2" MigrationConfiguration="PST2231A5.Migrations.Configuration, Web app project template v2" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DataContext-Web.config Connection String">
      <ParameterValue>Server=tcp:psthakkar1-ds-web524.database.windows.net,1433;Initial Catalog=psthakkar1-db-web524-a6;Persist Security Info=False;User ID=psthakkar1;Password=Parita@2002;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>