@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>WEB 524 - Assignment 6 - Parita Sunilbhai Thakkar</h1>
    <p class="lead">This web app provides user registration, login, authentication, and the ability to view/add various TV Show, actor, and episode information. In addition to this, now you can add a biography for the actors, a premise for the shows and episodes and even media items!</p>
    <p><a href="https://psthakkar1-wa-web524-a6.azurewebsites.net/" target="_blank" class="btn btn-primary btn-lg">Assignment 6 on Azure &raquo;</a></p>
</div>
